name: Publish to Bintray

on:
  workflow_dispatch:
#  release:
#    types:
#      - published
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Install git-crypt
        run: |
            echo "Installing libssl"
            sudo apt-get install libssl-dev
            echo "Downloading git-crypt"
            cd /tmp && wget https://github.com/AGWA/git-crypt/archive/0.6.0.zip
            echo "Unzipping git-crypt"
            unzip 0.6.0.zip && cd git-crypt-0.6.0/
            echo "Installing git-crypt"
            make && sudo make install
      - name: Create git-crypt key
        env:
          GIT_CRYPT_KEY: ${{ secrets.GIT_CRYPT_KEY }}
        run: |
          echo "Creating the git-crypt key"
          echo "$GIT_CRYPT_KEY" | base64 --decode > ./git-crypt.key
      - name: Decrypt files
        run: |
          echo "Decrypting repo"
          git-crypt unlock ./git-crypt.key

      - name: Publish library to bintray
        run: ./gradlew tooltipdialog:bintrayUpload
